html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'CODZombies';
    src: url('../edosz.ttf') format('truetype');
}

#background {
    background-color: darkblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* height: 100%; */
    height: 100vh;
}

#endgame-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    opacity: 1;
    background-color: #3a51ff;
    /* display: none; */
    /* background-color: darkblue; */
}

#endgame-text {
    background-color: #3a51ff;
    text-align: center;
    --width: 20%;
    width: var(--width);
    --height: 16%;
    height: var(--height);
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 2rem;
    left: calc(50% - var(--width)/2);
    /* left: 50%; */
    
    /* right: 50%; */
    top: calc(50% - var(--height)/2);
    /* margin: auto;
    margin-top: 5rem; */
    position: absolute;
    display: flex;
    align-items: center;
    padding: 1rem;
    z-index: 1;
    border: solid 5px #0d0055;
    border-radius: 10px;
    display: none;
}

#game-container {
    background-color: darkgreen;
    /* max-height: 95vmin;
    height: 100%;
    max-width: 95vmin;
    width: 100%; */

    width: 95vmin;
    max-width: 1300px;
    height: 95vmin;
    max-height: 1300px;

    /* height: 0;
    width: 40%;
    padding-bottom: 40%; */
    outline: 5px solid #3C2B00;
    margin: 5px;
    user-select: none;
    position: relative;
}

#wave-text {
    text-align: center;
    font-family: 'CODZombies';
    font-size: 5rem;
    opacity: 0;
    margin-top: 2rem;
    /* animation: fadeInOut 6s alternate; */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* #wave-counter {

} */

progress {
    accent-color: #3a51ff;
}

.healthbar {
    /* color: azure; */
    width: 100%;
    position: absolute;
    top: -28%;
    
    transform: scaleX(1) scaleY(1);
}

/* make a style that targets all healthbars that arent the characters healthbar */
progress:not(#character > .healthbar) {
    /* color: red; */
    accent-color: #ff2727;
}

/* #character > .healthbar {
    transform: scaleX(1) scaleY(1);
} */