/* Course: SENG 513 */
/* Date: November 13th, 2023 */
/* Assignment 3 */
/* Name: Colton Gowans */
/* UCID: 30143970 */

html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "CODZombies";
    src: url("../edosz.ttf") format("truetype");
}

/* styles for background of the whole game */
#background {
    background-color: rgb(35, 96, 165);
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

/* styles for the end game screen */
#endgame-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    background-color: #3a51ff;
}

#endgame-text {
    background-color: #3a51ff;
    text-align: center;
    --width: 20%;
    width: var(--width);
    --height: 16%;
    height: var(--height);
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 2rem;
    left: calc(50% - var(--width) / 2);
    top: calc(50% - var(--height) / 2);
    position: absolute;
    display: flex;
    align-items: center;
    padding: 1rem;
    z-index: 1;
    border: solid 5px #0d0055;
    border-radius: 10px;
    display: none;
}

/* styles for the actual game area */
#game-container {
    background-image: url("../assets/goob_game_forest_background.png");
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-color: darkgreen;
    width: 96vmin;
    max-width: 1300px;
    height: 96vmin;
    max-height: 1300px;
    /* outline updated every game tick in random/utility.js, this just affects initial load */
    outline: 10px solid #3c2b00;
    margin: 0px 20px;
    user-select: none;
    position: relative;
}

#wave-text {
    text-align: center;
    font-family: "CODZombies";
    font-size: 5rem;
    opacity: 0;
    margin-top: 2rem;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* #wave-counter {
    to be done later
} */

progress {
    accent-color: #3a51ff;
}

/* styles for healthbars of entities */
.healthbar {
    width: 100%;
    position: absolute;
    top: -28%;
    transform: scaleX(1) scaleY(1);
}

/* make all enemy healthbars red */
progress:not(#character > .healthbar) {
    accent-color: #ff2727;
}
