/* Course: SENG 513 */
/* Date: October 23rd, 2023 */
/* Assignment 2 */
/* Name: Colton Gowans */
/* UCID: 30143970 */

/* styles for bullet */
.bullet {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #32beff;
    border-radius: 50%;
}

.bullet-hurtbox {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
