.bullet {
    position: absolute;
    /* top: 50%;
    left: 5%; */
    width: 10px;
    height: 10px;
    background-color: #32beff;
    border-radius: 50%;
}

.bullet-hurtbox {
    /* background-color: green;
    opacity: 0.5; */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* align-self: center; */
    /* margin: 5px; */
}
