.rotate {
    -webkit-transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: now;
    /* -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite; */
}