/* Course: SENG 513 */
/* Date: November 13th, 2023 */
/* Assignment 3 */
/* Name: Colton Gowans */
/* UCID: 30143970 */

/* rotate Loob! */
.rotate {
    transform: rotate(360deg);
    transition-duration: 1s;
    transition-delay: now;
}
