ul {
    margin: 0;
    padding: 0 1rem;
}

.left-column, .right-column {
    /* display: flex; */

    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* width: 50%;
    height: 100%; */
    /* position: absolute; */
    /* top: 0; */
    /* overflow: hidden; */
    /* min-width: 20rem; */
    width: 20vw;
    height: 95vh;
    color: white;
    background-color: #3352FF;
    padding-left: 1rem;
    box-shadow: 0 0 12px black;
    text-shadow: 1px 1px 1px black;
}

.left-column h1,
.right-column h1 {
    /* font-size: 5rem; */
    text-align: center;
    /* margin: 0;
    padding: 0.5rem; */
    /* background-color: #3C2B00; */
    text-shadow: 1px 1px 4px black;
}

/* button {
    margin: initial;
} */

#music-toggle-button {
    /* make the button lighter blue than the column background, and push it to the bottom of its column (using margin??) */
    background-color: #71C9FF;
    margin-top: auto;
    position: bottom;
    margin-bottom: auto;
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    /* padding: 0.5rem; */
    border: 1px solid black;
    /* border-radius: 0.5rem; */
}