#character {
    background-image: url("../assets/goob_big_eyes.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30%;
    left: 50%;
    /* transition: transform 0.1s ease; */
}

/* :not(*) is to only style that element, and none of its children (so gun isnt oriented with normal goob) */
.character-up:not(*) {
    transform: scaleY(-1);
}

.character-down:not(*) {
    transform: scaleY(1);
}

.character-left:not(*) {
    transform: scaleX(1);
}

.character-right:not(*) {
    transform: scaleX(-1);
}

.character-up-left:not(*) {
    transform: scaleX(1) scaleY(-1);
}

.character-up-right:not(*) {
    transform: scaleX(-1) scaleY(-1);
}

.character-down-left:not(*) {
    transform: scaleX(1) scaleY(1);
}

.character-down-right:not(*) {
    transform: scaleX(-1) scaleY(1);
}

.character-no-transform {
    transform: none;
}