#character {
    background-image: url("../assets/goob_big_eyes.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* background-color: aqua; */
    width: 60px;
    height: 55px;
    position: absolute;
    top: 30%;
    left: 50%;
    /* transition: transform 0.1s ease; */
}
.character-hurtbox {
    /* background-color: lightblue;
    opacity: 0.5; */
    width: 60px;
    height: 55px;
    position: absolute;
    /* top: 30%; */
    /* left: 50%; */
    /* margin: 5px; */
    /* transition: transform 0.1s ease; */
}

.character-up {
    transform: scaleY(-1);
}

.character-down {
    transform: scaleY(1);
}

.character-left {
    transform: scaleX(1);
}

.character-right {
    transform: scaleX(-1);
}

.character-up-left {
    transform: scaleX(1) scaleY(-1);
}

.character-up-right {
    transform: scaleX(-1) scaleY(-1);
}

.character-down-left {
    transform: scaleX(1) scaleY(1);
}

.character-down-right {
    transform: scaleX(-1) scaleY(1);
}

.character-no-transform {
    transform: none;
}

/* .character-walking {
    animation: character-walk 0.5s steps(4) infinite;
} */