/* Course: SENG 513 */
/* Date: October 23rd, 2023 */
/* Assignment 2 */
/* Name: Colton Gowans */
/* UCID: 30143970 */

/* styles of the main character */
#character {
    background-image: url("../assets/goob_big_eyes.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 60px;
    height: 55px;
    position: absolute;
    top: 30%;
    left: 50%;
}
/* charcters hit and hurt box */
.character-hurtbox {
    width: 60px;
    height: 55px;
    position: absolute;
}

.goob-got-hit {
    animation: goob-got-hit 0.2s;
}

@keyframes goob-got-hit {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: transparent;
    }
}

/* styles to apply with javascript to make the players image rotate around */
#character.character-up {
    transform: scaleY(-1);
}

#character.character-down {
    transform: scaleY(1);
}

#character.character-left {
    transform: scaleX(1);
}

#character.character-right {
    transform: scaleX(-1);
}

#character.character-up-left {
    transform: scaleX(1) scaleY(-1);
}

#character.character-up-right {
    transform: scaleX(-1) scaleY(-1);
}

#character.character-down-left {
    transform: scaleX(1) scaleY(1);
}

#character.character-down-right {
    transform: scaleX(-1) scaleY(1);
}

#character.character-no-transform {
    transform: none;
}
